<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Punk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C30E1F001F034E1600658AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C30E1F141F034E1600658AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C339CCDF1F053C0800A2C2CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
